# Byte-compiled / optimized / DLL files / Compiled files
**/__pycache__/
.mypy_cache/
pycache/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# IDE-specific files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Custom Folders and Files
chroma/
plots/
*.ini